$green: #7dd4a4;
$green-shadow: #42c07b;
$dark: #222222;
$light: #21653f;
$blue: #7dadd4;
$blue-shadow: #4489c1;
$gray-subtle: #aaaaaa;
$green-alt: #a4d47d;

@import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Poppins:500,700');

$serif: 'Bitter', serif;
$sans: 'Poppins', sans-serif;

body {
    font-family: $sans;
    margin: 0;
    color: $dark;
    font-size: 16px;
    background: url(/assets/img/restaurant_icons.png);
    * {
        box-sizing: border-box;
    }
}
#login-modal {
    width: 500px;
    max-width: calc(100vw - 40px);
    background: $green;
    padding: 40px;
    color: white;
    border: 2px dashed #fff;
    outline: 2px solid $green-shadow;
    margin: auto;
    margin-top: 50px;
}
body.login-modal-visible #login-modal {
    display: block;
}
#login-modal form {
    @include flex();
    @include flex-direction(column);
    @include align-items(center);
}

div#header {
    @include flex();
    @include align-items(center);
    @include justify-content(space-between);
    padding: 20px;
    background: $green;
    border-bottom: 2px dashed white;
    outline: 2px solid $green-shadow;
    .title {
        font-weight: bold;
        font-family: $sans;
        font-size: 40px;
        color: $light;
    }
    .subtitle {
        font-weight: bold;
        font-family: $sans;
        font-size: 22px;
        color: white;
        font-weight: normal;
    }
}
#shopping-list-container {
    li {
        padding: 5px 0;
    }
}
.item-list-purchased {
    color: $green-alt;
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
    
    label {
        margin-right: 10px;
    }
    &.is-purchased {
        color: $blue-shadow;
    }
    input[type="checkbox"] {
        // display: none;
    }
}
.add-new-item-inline input {
    border: none;
    border-bottom: 2px solid $dark;
    color: $dark;
    font-size: 16px;
    font-style: italic;
    font-family: $sans;
}
.shopping-list-section {
    width: 320px;
    margin-top: 30px;
    h1 {
        color: $light;
        height: 50px;
        line-height: 50px;
        font-size: 28px;
    }
}
.shopping-list-wrapper {
    @include flex();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
}
.shopping-list-wrap {
    ul {
        padding: 0;
        list-style-type: none;
    }
}
#shopping-list-actions {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
    width: 320px;
    @include flex();
    @include align-items(center);
    .shopping-actions {
        width: 100%;
    }
    form.add-new-item {
        @include flex();
    }
    input[type="text"] {
        width: calc(100% - 80px);
        height: 40px;
        margin: 0;
        border-right: none;
        border: 1px solid $green-shadow;
        font-family: $sans;
        text-indent: 15px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    input[type="submit"] {
        border: 1px solid $green-shadow;
        background: $green-shadow;
        color: white;
        font-weight: bold;
        font-size: 16px;
        height: 40px;
        width: 80px;
        line-height: 36px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
.shopping-actions-header {
    h2 {
        margin-top: 0;
        color: $light;
    }
}
.item-list-top {
    @include flex();
    @include justify-content(space-between);
}
.item-list-bottom {
    color: $gray-subtle;
}
@media (max-width: 768px) {
    div#header {
        @include align-items(flex-start);
        .title {
            font-size: 28px;
        }
        .subtitle {
            font-size: 18px;
        }
    }
    #shopping-list-actions {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .shopping-list-wrapper {
        padding: 20px;
    }
    .shopping-list-section {
        width: 100%;
    }
    #shopping-list-container {
        width: 100%;
    }
    .menu-wrap {
        display: none;
        background: white;
        padding: 20px;
    }
    [data-menu-open="true"] {
        .menu-wrap {
            display: block;
        }
    }
    .mobile-menu-trigger {
        color: $light;
    }
}
#header {
    #header-actions {
        
    }
}
.shopping-history-container {
    width: 320px;
    margin: auto;
}
.timeline-top {
    @include flex();
    @include justify-content(space-between);
    > div {
        width: 50%;
        text-align: center;
    }
}
.searchHistory, .filters {
    margin-bottom: 30px;
}

.timeline {
    width: 100%;
    margin: auto;
}

.wide-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.reports {
    @include flex();
    .reports-main {
        width: 50%;
        .ant-card {
            margin-bottom: 20px;
        }
    }
    .reports-quick {
        width: 50%;
    }
}
.reports-options {
    margin-top: 10px;
}
// loading
.lds-ring {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}
.lds-ring div {
box-sizing: border-box;
display: block;
position: absolute;
width: 64px;
height: 64px;
margin: 8px;
border: 8px solid $green;
border-radius: 50%;
animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: $green transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
animation-delay: -0.15s;
}
@keyframes lds-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}