@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Poppins:500,700");
/* line 15, sass/main.scss */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #222222;
  font-size: 16px;
  background: url(/assets/img/restaurant_icons.png);
}
/* line 21, sass/main.scss */
body * {
  box-sizing: border-box;
}

/* line 25, sass/main.scss */
#login-modal {
  width: 500px;
  max-width: calc(100vw - 40px);
  background: #ace5ee;
  padding: 40px;
  border: #fff;
  outline: 2px solid #5d8aa8;
  margin: auto;
  margin-top: 50px;
}
/* line 34, sass/main.scss */
#login-modal label {
  display: block;
  margin-bottom: 10px;
  width: 150px;
}
/* line 38, sass/main.scss */
#login-modal label span {
  display: block;
  color: #222222;
  margin-bottom: 5px;
}
/* line 43, sass/main.scss */
#login-modal label input {
  width: 150px;
  border: 1px solid #222222;
}

/* line 49, sass/main.scss */
.login-form-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 0;
}
/* line 54, sass/main.scss */
.login-form-buttons > input {
  width: 150px;
  border: 1px solid #5d8aa8;
  background: #5d8aa8;
  margin-bottom: 10px;
  color: white;
}

/* line 62, sass/main.scss */
body.login-modal-visible #login-modal {
  display: block;
}

/* line 65, sass/main.scss */
#login-modal form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 71, sass/main.scss */
div#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 20px;
  background: #ace5ee;
  border-bottom: 2px solid #5d8aa8;
}
/* line 78, sass/main.scss */
div#header .title {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #5d8aa8;
}
/* line 84, sass/main.scss */
div#header .subtitle {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: white;
  font-weight: normal;
}

/* line 93, sass/main.scss */
#shopping-list-container li {
  padding: 5px 0;
}

/* line 97, sass/main.scss */
.item-list-purchased {
  color: #ace5ee;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}
/* line 103, sass/main.scss */
.item-list-purchased label {
  margin-right: 10px;
}
/* line 106, sass/main.scss */
.item-list-purchased.is-purchased {
  color: #4489c1;
}

/* line 113, sass/main.scss */
.add-new-item-inline input {
  border: none;
  border-bottom: 2px solid #222222;
  color: #222222;
  font-size: 16px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

/* line 121, sass/main.scss */
.shopping-list-section {
  width: 320px;
  margin-top: 30px;
}
/* line 124, sass/main.scss */
.shopping-list-section h1 {
  color: #5d8aa8;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}

/* line 131, sass/main.scss */
.shopping-list-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 138, sass/main.scss */
.shopping-list-wrap ul {
  padding: 0;
  list-style-type: none;
}

/* line 143, sass/main.scss */
#shopping-list-actions {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  width: 320px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 151, sass/main.scss */
#shopping-list-actions .shopping-actions {
  width: 100%;
}
/* line 154, sass/main.scss */
#shopping-list-actions form.add-new-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 157, sass/main.scss */
#shopping-list-actions input[type="text"] {
  width: calc(100% - 80px);
  height: 40px;
  margin: 0;
  border-right: none;
  border: 1px solid #5d8aa8;
  font-family: "Poppins", sans-serif;
  text-indent: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 168, sass/main.scss */
#shopping-list-actions input[type="submit"] {
  border: 1px solid #5d8aa8;
  background: #5d8aa8;
  color: white;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  width: 80px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 182, sass/main.scss */
.shopping-actions-header h2 {
  margin-top: 0;
  color: #5d8aa8;
}

/* line 187, sass/main.scss */
.item-list-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 191, sass/main.scss */
.item-list-bottom {
  color: #aaaaaa;
}

/* line 194, sass/main.scss */
div#header {
  -ms-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/* line 196, sass/main.scss */
div#header .title {
  font-size: 28px;
}
/* line 199, sass/main.scss */
div#header .subtitle {
  font-size: 18px;
}

/* line 203, sass/main.scss */
.menu-wrap {
  display: none;
  background: white;
  padding: 20px;
  position: absolute;
  right: 0;
  border: 1px solid #5d8aa8;
  width: 160px;
  text-align: right;
  border-right: none;
}
/* line 214, sass/main.scss */
.menu-wrap .user-info > div {
  margin-bottom: 5px;
}

/* line 220, sass/main.scss */
[data-menu-open="true"] .menu-wrap {
  display: block;
}

/* line 224, sass/main.scss */
.mobile-menu-trigger {
  color: #5d8aa8;
  text-align: right;
}

@media (max-width: 768px) {
  /* line 230, sass/main.scss */
  #shopping-list-actions {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 236, sass/main.scss */
  .shopping-list-wrapper {
    padding: 20px;
  }

  /* line 239, sass/main.scss */
  .shopping-list-section {
    width: 100%;
  }

  /* line 242, sass/main.scss */
  #shopping-list-container {
    width: 100%;
  }
}
/* line 252, sass/main.scss */
.shopping-history-container {
  width: 320px;
  margin: auto;
}

/* line 256, sass/main.scss */
.timeline-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 260, sass/main.scss */
.timeline-top > div {
  width: 50%;
  text-align: center;
}

/* line 265, sass/main.scss */
.searchHistory, .filters {
  margin-bottom: 30px;
}

/* line 269, sass/main.scss */
.timeline {
  width: 100%;
  margin: auto;
}

/* line 274, sass/main.scss */
.wide-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

/* line 279, sass/main.scss */
.reports {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 281, sass/main.scss */
.reports .reports-main {
  width: 50%;
}
/* line 283, sass/main.scss */
.reports .reports-main .ant-card {
  margin-bottom: 20px;
}
/* line 287, sass/main.scss */
.reports .reports-quick {
  width: 50%;
}

/* line 291, sass/main.scss */
.reports-options {
  margin-top: 10px;
}

/* line 295, sass/main.scss */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

/* line 301, sass/main.scss */
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ace5ee;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ace5ee transparent transparent transparent;
}

/* line 313, sass/main.scss */
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

/* line 316, sass/main.scss */
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

/* line 319, sass/main.scss */
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=main.css.map */
