@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Poppins:500,700");
/* line 15, sass/main.scss */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #222222;
  font-size: 16px;
  background: url(/assets/img/restaurant_icons.png);
}
/* line 21, sass/main.scss */
body * {
  box-sizing: border-box;
}

/* line 25, sass/main.scss */
#login-modal {
  width: 500px;
  max-width: calc(100vw - 40px);
  background: #7dd4a4;
  padding: 40px;
  color: white;
  border: 2px dashed #fff;
  outline: 2px solid #42c07b;
  margin: auto;
  margin-top: 50px;
}

/* line 36, sass/main.scss */
body.login-modal-visible #login-modal {
  display: block;
}

/* line 39, sass/main.scss */
#login-modal form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 45, sass/main.scss */
div#header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 20px;
  background: #7dd4a4;
  border-bottom: 2px dashed white;
  outline: 2px solid #42c07b;
}
/* line 53, sass/main.scss */
div#header .title {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #21653f;
}
/* line 59, sass/main.scss */
div#header .subtitle {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: white;
  font-weight: normal;
}

/* line 68, sass/main.scss */
#shopping-list-container li {
  padding: 5px 0;
}

/* line 72, sass/main.scss */
.item-list-purchased {
  color: #a4d47d;
  font-weight: bold;
  font-style: italic;
  margin-left: 20px;
}
/* line 78, sass/main.scss */
.item-list-purchased label {
  margin-right: 10px;
}
/* line 81, sass/main.scss */
.item-list-purchased.is-purchased {
  color: #4489c1;
}

/* line 88, sass/main.scss */
.add-new-item-inline input {
  border: none;
  border-bottom: 2px solid #222222;
  color: #222222;
  font-size: 16px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
}

/* line 96, sass/main.scss */
.shopping-list-section {
  width: 320px;
  margin-top: 30px;
}
/* line 99, sass/main.scss */
.shopping-list-section h1 {
  color: #21653f;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}

/* line 106, sass/main.scss */
.shopping-list-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 113, sass/main.scss */
.shopping-list-wrap ul {
  padding: 0;
  list-style-type: none;
}

/* line 118, sass/main.scss */
#shopping-list-actions {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  height: auto;
  width: 320px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 126, sass/main.scss */
#shopping-list-actions .shopping-actions {
  width: 100%;
}
/* line 129, sass/main.scss */
#shopping-list-actions form.add-new-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 132, sass/main.scss */
#shopping-list-actions input[type="text"] {
  width: calc(100% - 80px);
  height: 40px;
  margin: 0;
  border-right: none;
  border: 1px solid #42c07b;
  font-family: "Poppins", sans-serif;
  text-indent: 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 143, sass/main.scss */
#shopping-list-actions input[type="submit"] {
  border: 1px solid #42c07b;
  background: #42c07b;
  color: white;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  width: 80px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 157, sass/main.scss */
.shopping-actions-header h2 {
  margin-top: 0;
  color: #21653f;
}

/* line 162, sass/main.scss */
.item-list-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/* line 166, sass/main.scss */
.item-list-bottom {
  color: #aaaaaa;
}

@media (max-width: 768px) {
  /* line 170, sass/main.scss */
  div#header {
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  /* line 172, sass/main.scss */
  div#header .title {
    font-size: 28px;
  }
  /* line 175, sass/main.scss */
  div#header .subtitle {
    font-size: 18px;
  }

  /* line 179, sass/main.scss */
  #shopping-list-actions {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  /* line 185, sass/main.scss */
  .shopping-list-wrapper {
    padding: 20px;
  }

  /* line 188, sass/main.scss */
  .shopping-list-section {
    width: 100%;
  }

  /* line 191, sass/main.scss */
  #shopping-list-container {
    width: 100%;
  }

  /* line 194, sass/main.scss */
  .menu-wrap {
    display: none;
    background: white;
    padding: 20px;
  }

  /* line 200, sass/main.scss */
  [data-menu-open="true"] .menu-wrap {
    display: block;
  }

  /* line 204, sass/main.scss */
  .mobile-menu-trigger {
    color: #21653f;
  }
}
/* line 213, sass/main.scss */
.shopping-history-container {
  width: 320px;
  margin: auto;
}

/* line 217, sass/main.scss */
.timeline-top {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
/* line 220, sass/main.scss */
.timeline-top > div {
  width: 50%;
  text-align: center;
}

/* line 225, sass/main.scss */
.searchHistory, .filters {
  margin-bottom: 30px;
}

/* line 229, sass/main.scss */
.timeline {
  width: 100%;
  margin: auto;
}

/* line 234, sass/main.scss */
.wide-container {
  max-width: 800px;
  margin: auto;
  width: 100%;
}

/* line 239, sass/main.scss */
.reports {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 241, sass/main.scss */
.reports .reports-main {
  width: 60%;
}
/* line 243, sass/main.scss */
.reports .reports-main .ant-card {
  margin-bottom: 20px;
}
/* line 247, sass/main.scss */
.reports .reports-quick {
  width: calc(40% - 20px);
}

/*# sourceMappingURL=main.css.map */
